[submodule "broker"]
	path = broker
	url = https://github.com/yallerocha/broker
	branch = power9
[submodule "ai-engine"]
	path = ai-engine
	url = https://github.com/yallerocha/ai-engine
	branch = power9
[submodule "monitor"]
	path = monitor
	url = https://github.com/yallerocha/monitor
	branch = monitor-real-workloads
[submodule "recommendations-manager"]
	path = recommendations-manager
	url = https://github.com/yallerocha/recommendations-manager
	branch = actuator-real-workloads

